/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification


/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background-color: grey;
}

.fles {
    text-indent: 25px;
}

td, th {
    border: 1px solid #000000; /* задаем сплошную границу размером 1 пиксель цвета #F50 */
    padding: 19px; /* устанавливаем внутренние отступы для всех сторон */
}
